# Version Control
.git/
.gitignore
.gitattributes
.github/

# CI/CD
.codeclimate.yml
.travis.yml
.taskcluster.yml

# Docker
docker-compose.yml
Dockerfile
.docker/
.dockerignore

# Python & Bytecode
**/__pycache__/
**/*.py[cod]
*$py.class
*.so

# Distribution & Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Virtual Environments
.env
.venv/
venv/
env/
ENV/
.env.*
.ruff_cache/
.mypy_cache/
.claude/
.cursor/
.github/

# Testing & Coverage
tests/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.nox/
.hypothesis/
.mypy_cache/
junit/

# Documentation
docs/
docs/_build/
*.md
!README.md

# Logs
logs/
*.log
pip-log.txt
pip-delete-this-directory.txt

# IDE & Editor
.idea/
.vscode/
.ropeproject/
**/*.swp
**/*.swo

# OS Specific
.DS_Store
Thumbs.db

# Project Specific
target/
*.mo
*.pot
debug/
logs/
docs/
uploads/

# Infrastructure
infra/
